        .sticky-drop-menu {
            position: fixed;
            top: 0;
            z-index: 1;
        }

        nav ul li a:hover {
            background-color: #e2e2e2;;
        }

        nav ul li a:hover {
            color: #0E3655; 
        }

        nav ul li a {
            color: #e2e2e2;
        }

        #mobile-menu > li > a{
            color: #0E3655;
        }

        #logo {
            margin-top: 5%;
        }

        #mob-logo {
            margin-bottom: 6%;
        }

        header {
            background: url(../slike/moguca-pozadina.jpg);
            background-size: cover;
            background-position: left;
            min-height: 800px;
        }

        #kontakt { 
            background-color: whitesmoke;
            border-radius: 5px;
            margin-top: 10%;
            margin-bottom: 10%;
            padding-left: 3%;
            padding-right: 3%;
            width: 90%;
        }

        #kontakt > div > div > ul > li {
            padding: 1%;
            margin-top: 4%;
            margin-bottom: 4%;
        }

        #usluge {
            font-size: 110%;
        }

        #photography {
            font-size: 110%;
        }

        .section {
            padding-top: 4vw;
            padding-bottom: 4vw;
        }

        .tabs .indicator {
            background-color: #0E3655;
        }

        #usluga1 {
            background-color: #0E3655;
            color: #e2e2e2;
            padding: 3%;
        }

        #usluga2, #usluga3, #usluga4, #usluga5, #usluga6, #usluga7, #usluga8 {
            background-color: #e2e2e2;
            color: #0E3655;
            padding: 3%;
        }
        #usluga1-pr {
            text-align: justify;
            border: #0E3655;
            border-radius: 5px;
            padding: 1%;
            margin: 2%;
            font-size: 110%;
        }

        #usluga2-pr, #usluga3-pr, #usluga4-pr, #usluga5-pr, #usluga6-pr, #usluga7-pr, #usluga8-pr {
            text-align: justify;
            display: none;
            border: #0E3655;
            border-radius: 5px;
            padding: 1%;
            margin: 2%;
            font-size: 110%;
        }

        #usluga1-pr > p, #usluga2-pr > p, #usluga3-pr > p, #usluga4-pr > p, #usluga5-pr > p, #usluga6-pr > p, #usluga7-pr > p, #usluga8-pr > p {
            padding: 2%;
        }

        /* .tabs .tab a:focus,
        .tabs .tab a:focus.active { 
            background: #e2e2e2;
        } */

        @media only screen and (min-width: 320px) {
            .parallax-container {
                height: 150px;
            }
            header {
                min-height: 250px;
                background-size: cover;
                background-position: center;
            }
        }

        @media only screen and (min-width: 360px) {
            .parallax-container {
                height: 130px;
            }
        }

        @media only screen and (min-width: 375px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 411px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 414px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (max-width: 600px) {
            #logo {
                margin-top: 3%;
            }
        }

        @media only screen and (min-width: 667px) {
            .parallax-container {
                height: 130px;
            }
        }

        @media only screen and (min-width: 768px) {
            .parallax-container {
                height: 280px;
            }
            header {
                min-height: 500px;
                background-size: cover;
                background-position: center;
            }
        }

        @media only screen and (min-width: 811px) {
            .parallax-container {
                height: 180px;
            }
        }

        @media screen and (min-width: 1300px) {
            header {
                min-height: 500px;
                background-size: cover;
                background-position: center;
            }
        }

        @media only screen and (min-width: 1366px) {
            .parallax-container {
                height: 300px;
            }
            header {
                min-height: 500px;
                background-size: cover;
                background-position: center;
            }
        }
        
        @media only screen and (min-width: 1500px) {
            .parallax-container {
                height: 340px;
            }
        }

        @media only screen and (min-width: 1920px) {
            .parallax-container {
                height: 340px;
            }
        }

        @media only screen and (min-width: 2560pz) {
            .parallax-container {
                height: 340px;
            }
        }