.sticky-nav {
            position: fixed;
            top: 0;
            z-index: 1;
        }

        header {
            background: url(../slike/background.jpg);
            background-size: cover;
            background-position: center;
            min-height: 800px;
        }

        .section {
            padding-top: 4vw;
            padding-bottom: 4vw;
        }

        .tabs .indicator {
            background-color: #1a237e;
        }

        .tabs .tab a:focus,
        .tabs .tab a:focus.active {
            background: transparent;
        }

        @media only screen and (min-width: 320px) {
            .parallax-container {
                height: 150px;
            }
        }

        @media only screen and (min-width: 360px) {
            .parallax-container {
                height: 130px;
            }
        }

        @media only screen and (min-width: 375px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 411px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 414px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 667px) {
            .parallax-container {
                height: 130px;
            }
        }

        @media only screen and (min-width: 768px) {
            .parallax-container {
                height: 280px;
            }
        }

        @media only screen and (min-width: 811px) {
            .parallax-container {
                height: 180px;
            }
        }

        @media only screen and (min-width: 1366px) {
            .parallax-container {
                height: 300px;
            }
        }

        @media screen and (max-width: 670px) {
            header {
                min-height: 500px;
            }
        }