        .sticky-drop-menu {
            position: fixed;
            top: 0;
            z-index: 1;
        }

        nav ul li a:hover {
            background-color: #0E3655;;
        }

        nav ul li a:hover {
            color: #e2e2e2; 
        }

        nav ul li a {
            color: #0E3655;
        }

        #mobile-menu > li > a{
            color: #0E3655;;
        }

        header {
            background: url(../slike/background.jpg);
            background-size: cover;
            background-position: center;
            min-height: 800px;
        }

        #kontakt > div > div > ul > li > a:hover {
            background-color: #0E3655;
            color: #e2e2e2;
            border: 1px solid #0E3655;
            /* border-radius: 5px; */
        }

        #kontakt > div > div > ul > li {
            color: #0E3655;
            padding: 1%;
            margin-top: 4%;
            margin-bottom: 4%;
            /* border-radius: 5px; */
        }

        #kontakt > div > div > ul > li > a {
            color: #0E3655;
            padding: 3%;
        }

        #kontakt > div > div > ul > li > a:hover {
            background-color: #0E3655;
            color: #e2e2e2;
        }

        .section {
            padding-top: 4vw;
            padding-bottom: 4vw;
        }

        .tabs .indicator {
            background-color: #0E3655;
        }

        #usluga1-pr {
            border: 1px solid #0E3655;
            border-radius: 5px;
        }

        #usluga2-pr, #usluga3-pr, #usluga4-pr, #usluga5-pr, #usluga6-pr, #usluga7-pr, #usluga8-pr {
            display: none;
            border: 1px solid #0E3655;
            border-radius: 5px;
        }

        /* .tabs .tab a:focus,
        .tabs .tab a:focus.active { 
            background: #e2e2e2;
        } */

        @media only screen and (min-width: 320px) {
            .parallax-container {
                height: 150px;
            }
        }

        @media only screen and (min-width: 360px) {
            .parallax-container {
                height: 130px;
            }
        }

        @media only screen and (min-width: 375px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 411px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 414px) {
            .parallax-container {
                height: 160px;
            }
        }

        @media only screen and (min-width: 667px) {
            .parallax-container {
                height: 130px;
            }
        }

        @media only screen and (min-width: 768px) {
            .parallax-container {
                height: 280px;
            }
        }

        @media only screen and (min-width: 811px) {
            .parallax-container {
                height: 180px;
            }
        }

        @media only screen and (min-width: 1366px) {
            .parallax-container {
                height: 300px;
            }
        }

        @media screen and (max-width: 670px) {
            header {
                min-height: 500px;
            }
        }